Repository WyriHaximus/php-js-compress, pull requests merged in 2020-12, with the labels that each got.

#44 Don't use JShrink on PHP 8
  infection.json.dist
  src/Factory.php
Labels: PHP 🐘, Source 🔮, bug

#46 Php 8.0
  .github/workflows/ci.yml
  composer.json
  composer.lock
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, JSON 👨‍💼, PHP 🐘, YAML 🍄

#47 Fix CI workflow
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄, bug

#48 Use plain unit command to run on CI
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄, bug

#49 fail-fast: false
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#50 Bump wyrihaximus/compress
  composer.json
  composer.lock
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘

#51 Don't run jshrink test on PHP 8
  tests/Compressor/JShrinkCompressorTest.php
Labels: PHP 🐘, Tests 🧪, bug

#53 Drop tedivm/jshrink
  composer.json
  composer.lock
  src/Compressor/JShrinkCompressor.php
  src/Factory.php
  tests/Compressor/JShrinkCompressorTest.php
Labels: Dependencies 📦, Feature 🏗, JSON 👨‍💼, PHP 🐘, Source 🔮, Tests 🧪, bug

#54 Revert "Drop tedivm/jshrink"
  composer.json
  composer.lock
  src/Compressor/JShrinkCompressor.php
  src/Factory.php
  tests/Compressor/JShrinkCompressorTest.php
Labels: Dependencies 📦, Feature 🏗, JSON 👨‍💼, PHP 🐘, Source 🔮, Tests 🧪, bug, enhancement

#58 Use contracts package for interface
  composer.json
  composer.lock
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘

#59 Use test utilities package for compressor testing
  composer.json
  composer.lock
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘
